{% block postForm %}
<form name='postForm' action="" method="POST">
  <div class="input-group">
    <input class="form-control" type='text' name="message" placeholder='Compose New Message'>
    <div class="input-group-btn">
      <button class='btn btn-success' type='submit'><i class="fa fa-paper-plane" aria-hidden="true"></i> Post</button>
    </div>
  </div>
</form>
{% endblock postForm %}